* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* NAVBAR */
.top-nav {
    background: linear-gradient(to right, #0a1f44, #102a66);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    font-size: 14px;
}

/* LEFT SECTION */
.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.language {
    cursor: pointer;
}

.divider {
    opacity: 0.6;
}

.social-icons i {
    margin-right: 8px;
    cursor: pointer;
}

.social-icons i:hover {
    color: #00c4d6;
}

/* SEARCH */
.search-box {
    display: flex;
    align-items: center;
    /* background-color: #ffffff22; */
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 120px;
}

.search-box input::placeholder {
    color: #ddd;
}

.search-box i {
    margin-left: 8px;
    cursor: pointer;
}

/* RIGHT SECTION */
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-right a:hover {
    color: #00c4d6;
}

/* LOGIN BUTTON */
.login-btn {
    background-color: #00c4d6;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    
    margin: 0 2px 0 2px;
}

.login-btn:hover {
    background-color: #00a5b5;
    color: white;
}
.mid-nav{
    background-color: white;
}
.logo{
    width: 20px;
}
.mid-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    height: 80px;
     padding: 0 40px;   
}

/* LOGO */
.logo img {
    height: 10vw;
}

/* RIGHT SIDE */
.mid-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* CONTACT */
.contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact i {
    font-size: 25px;
    color: #00b6c9;
}

.contact h3 {
    font-size: 13px;
    font-weight: normal;
      color: #000;
}

.contact h4 {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

/* DIVIDER */
.divider {
    font-size: 22px;
    color: #ccc;
}

/* BUTTONS */
.mid-btn {
    display: flex;
    gap: 15px;
}

.mid-btn button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 25px;
    /* border: none; */
    cursor: pointer;
    font-size: 14px;
}

/* APPOINTMENT */
.appointment {
    background-color: #00b6c9;
    color: white;
     border: 1px solid #00b6c9;
}

/* LOCATION */
.location {
    background-color: white;
    border: 1px solid #00b6c9;
    color: black;
    border-radius: 10px;
}

.mid-btn button:hover {
    opacity: 0.85;
}
.end-nav{
    display: flex;
    justify-content: space-evenly;
     border-bottom: 0.2px solid #b6e4ea;
}
.body_part{
    margin-bottom: 5px;
}
.body_part img{
    height: 7.5vh;
    display: flex;
    padding: 10px;
    align-items: center;

}
.body_part p{
    font-size: 9.5px;
    padding: 5px;
    text-align: center;
}
.body_part p:hover{
    background: linear-gradient(to right, #0a1f44, #102a66);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    background: linear-gradient(to right,white,rgb(222, 232, 236));
}
.hero_left{
    max-width: 55%;
}
.hero_left h4 {
    color: black;
    margin-bottom: 10px;
}
.hero_left h1 {
    font-size: 42px;
    margin-bottom: 30px;
    
}
.gradient{
    background: linear-gradient(to right, #0a1f44, #102a66);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.symbols{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.symbol{
    text-align: center;
}
.symbol p{
    font-size: 13px;
    font-weight: bold;
}
.symbol img{
    padding: 7px;
    height: 60px;
    margin-bottom: 5px;
    border: 1px solid rgb(123, 123, 123);
    border-radius: 50%;
}
.para {
    margin: 20px 0;
    color: #8e8d8d;
}
.hero_btn {
    display: flex;
    gap: 15px;
}
.hero_btn button {
    padding: 12px 20px;
    border-radius: 25px;
    /* border: none; */
    cursor: pointer;
    font-size: 14px;
}
.call {
    background: #fff;
     border: 1px solid #00b6c9;
    color: black;
}

.book {
     background-color: #00b6c9;
    color: white;
     border: 1px solid #00b6c9;
     gap: 10px;
     display: flex;
     align-items: center;
}
.hero_img img {
    width: 45vw;
     max-width: 100%;
   position: absolute;
    right: 0;
    top: 33%;
}
.container{
    width: 100%;
}

.img_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.5vw;
   box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
     margin-top: 20px;
     max-width: 950px;   /* same like container width in image */
    margin: 20px auto;   /* centers the container */
    padding: 30px 20px;
    border-radius: 10px;
}
.container h1{
    text-align: center;
    padding: 10px;
}
.body_img img{
    height: 10vh;
   border: none;
    box-shadow: 2px 4px 8px rgb(153, 152, 152);
    border-radius: 50%;
    padding: 12px;
    display: block;
    transition: transform 0.3s ease;
}
.body_img img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.body_img p:hover{
       color: #102a66;
    
}
.body_img p{
    text-align: center;
    padding: 12px 0;
    color: #8e8d8d;
}

.view_btn{
    display: block;
    margin: -35px auto 0;
    padding: 12px 40px;

    border: none;
    border-radius: 30px;
    background: #18b7c9;
    color: #fff;

    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}
.doctors_logos{
    width: 100%;
   
}
.doctors_logos img{
    object-fit: cover;
    width: 100%;
   
   
   
}
.container{
    background-color: white;
    position: absolute;
}
.hero_second{
    background: url(Images/letsTalkWithYou_background.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
   
}
.hero_second_left img{
   width: 40vw;
  margin-left: 10vw;
  /* margin-top: 2vh; */
  margin-bottom: 15vh;
   box-shadow: 2px 4px 8px rgb(153, 152, 152);
   border-radius: 10px;
 
}
.hero_second_right{
    position: relative;
   right: 7vw;
   bottom: 10vh;
   line-height: 30px;
}
.hero_second_right h2{
    color: #00A19A;
    margin-bottom: 20px;
}
.hero_second_right h1{
    font-size: 35px;
    font-weight: bold;
    margin-right: 20px;
}
.hero_second_right p{
    margin: 10px 0;
   color: #8e8d8d;
}
.hero_right_btn{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.hero_right_btn button{
    padding: 12px 20px;
    border-radius: 25px;
    /* border: none; */
    cursor: pointer;
    font-size: 14px;
}
.right_btn{
     background: #fff;
    border: 1px solid #00b6c9;
    color: black;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.right_btn1{
    background-color: #18b7c9;
    color: white;
    padding: 20px;
    border: none;
    gap: 10px;
    display: flex;
    align-items: center;
}
.myform {
    width: 60%;
    margin: 50px auto;
    background-color: #00A19A;
    padding: 30px 30px 60px;
    border-radius: 12px;
    display: block;
    margin: -18vh auto 0;
    position: relative;
}

.myform h1 {
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
   
}
.form-grid input{
    grid-column: span 3;
}
.form-grid select{
    grid-column: span 2;
}






/* Inputs & Selects */
.form-grid input,
.form-grid select {
    padding: 14px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 15px;
}

/* Button styling */
.form-grid button {
    grid-column: 3 /5;
    padding: 14px 20px;
    background-color: #0b1c4d;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: -30px;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  
}

.form-grid button:hover {
    background-color: #09163a;
}
.hero_doctor{
    width: 100%;
    background-color: white;
      display: flex;
   align-items: center;
   justify-content: center;
}
.hero_doctor img{
   width: 80%;
   object-fit: cover;
 
}
.hero_doctor_btn{
    color: white;
    background-color: #00b6c9;
    border: none;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: -9vh auto 0;
    padding: 12px 20px;
    border-radius: 25px;
    /* border: none; */
    cursor: pointer;
    font-size: 14px;
    gap: 10px;
    display: flex;
}
.hero_doctor_btn:hover{
    opacity: 0.85;
}
.hero_mobile{
    background: url(Images/mobile_background.png);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
   
}
.mobile_left img{
    width: 35vw;
}
.mobile_right{
    margin-bottom: 20vh;
    max-width: 600px;
    position: relative;
   
}
.mobile_right h3{
    font-size: 30px;
    color: #00A19A;
    margin-bottom: 20px;
}
.mobile_right p{
    color: #8e8d8d;
    line-height: 20px;
    margin-top: 25px;
}
.mobile_logo1{
    display: flex;
    gap: 10px;
    align-items: center;
}
.mobile_logo1 img{
    width: 3vw;
   
   
}
.mobile_logo1 h3{
    font-size: 15px;
    margin-bottom: 0;
    align-items: center;
    color: #8e8d8d;
}
.mobile_logos{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.mobile_logos2{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 87px;
    
}
.mobile_sponsor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 70vh;
    gap: 30px;
   
}

